<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tegucigalpa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>Lugar de Nacimiento</ion-card-subtitle>
      <ion-card-title>Presentacion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Actualmente Tegucigalpa es la ciudad de mayor pujanza del país dado que es el centro político y administrativo. La ciudad cuenta con un casco histórico integrado por las iglesias de la época colonial y los edificios emblemáticos cuya construcción se remonta a inicios del siglo XX.

      La ciudad cuenta con una serie de miradores naturales como son el Parque Naciones Unidas, conocido como El Picacho, que domina toda la ciudad; el Parque Manuel Bonilla; el Parque La Leona; el Cerro El Berrinche; el Cerro Juana Laínez; el Cerro de Hula al sur de la Ciudad; y, La Montañita al este. Por esta razón a Tegucigalpa también se le conoce como Ciudad de los Cerros de Plata.
    </ion-card-content>
  </ion-card>






  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Lugar de Nacimiento"></app-explore-container>



  <ion-img src="assets/img/foto2.jpg"></ion-img>




        

</ion-content>
