<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informacion Personal
    </ion-title>
  </ion-toolbar>
</ion-header>





<ion-content [fullscreen]="true">
  
  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>Descripcion Personal</ion-card-subtitle>
      <ion-card-title>Presentacion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Mi Nombre es Edison Salgado, tengo 44 años de edad, estudio la carrera de ingenieria informatica en la UMH, Trabajo como analista e Infraestructura y Redes.
    </ion-card-content>
  </ion-card>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name=""></app-explore-container>

  <ion-img style="width: 600px; height: 480px;" src="assets/img/foto.jpg"></ion-img>

  


  
    
</ion-content>

