<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Metas Personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>Metas Personales</ion-card-subtitle>
      <ion-card-title>Metas a Corto y Mediano Plazo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Una vision que tengo a corto y mediano plazo es poder egresar de la UMH para poder obtener mi titulo universitario y poder lograr un asenso en mi trabajo.
     
    </ion-card-content>
  </ion-card>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Con esfuerzo y dedicacion se pueden alcanzar las metas propuestas"></app-explore-container>



  <ion-img src="assets/img/foto3.jpg"></ion-img>



</ion-content>
